<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th = style="font-size: 15pt">本のタイトル</th>
      <th = style="font-size: 15pt">感想</th>
      <th = style="font-size: 15pt">タグ</th>
      <th = style="font-size: 15pt">スコア</th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= image_tag post.user.get_profile_image, size: '50x50' %></td>
        <td><%= link_to post.title, post_path(post.id) %></td>
        <td><%= post.body %></td>
        <td><% tag_lists[post.id].split(',').each do |tag_name| %>
              <i class="fa-solid fa-tag"></i><%= link_to tag_name, search_tag_path(tag_name: tag_name) %>
            <% end %>
        </td>
        <td><%= render "public/posts/static_rate", post: post %></td>
        <td><%= "#{post.post_comments.count} コメント" %></td>
        <td>閲覧数: <%= post.view_counts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>