<h4>投稿詳細画面</h4>
       <% if @post.user == current_user %>
         <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success  edit_book_#{@post.id}" %></td>
         <td><%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@post.id}"%></td>
       <% end %>
    </h2>

    <table class='table'>
     <tr>
       <td align="center">
           <%= link_to(@post.user) do %>
           <%= image_tag @post.user.get_profile_image, size:"70x70" %><br>
           <%= @post.user.name%>
           <% end %>
       </td>
       <td><%= link_to @post.title, @post %></td>
       <td><%= @post.body %></td>
       <td><%= @post.score %></td>
 <%#      <td id="comment_counter">
 <%#        <%= render "book_comments/counter", book: @book %>
 <%#      </td>
 <%#      <td>閲覧数: <%= @book.view_counts.count %></td>
 <%#    </tr>
 <%#   </table>
 <%#
 <%#  <div id="book_comment">
 <%#   <%= render 'book_comments/book_comment', book: @book %>
 <%#  </div>
 <%#   <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
