<h1>Public::Analysis#show</h1>
<p>Find me in app/views/public/analysis/show.html.erb</p>

<p><%= EmotionalityAnswer.total_score %></p>
<p><%= ExtraversionAnswer.total_score %></p>
<p><%= ControllabilityAnswer.total_score %></p>
<p><%= AttachmentAnswer.total_score %></p>
<p><%= PlayabilityAnswer.total_score %></p>