<%= form_with(model: attachment, url: (attachment.persisted? ? admin_attachment_path(attachment) : admin_attachments_path), local: true) do |f| %>
  <table class='table'>
    <tr>
      <th>項目</th>
  	  <td>調和性</td>
    </tr>
    <tr>
      <th>カテゴリー</th>
      <td><%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: 'form-control'} %></td>
    </tr>
    <tr>
      <th>質問</th>
      <td><%= f.text_field :question, class: "form-control question" %></td>
    </tr>
    <tr align="center">
      <th>
        <% if attachment.persisted? %>
          <%= f.submit "更新する", class: "btn btn-success" %>
        <% else %>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        <% end %>
      </th>
    </tr>
 </table>
<% end %>