<h2><%= @user.name %>さんの性格分析</h2>
<p><%= @emotionality_total_score %></p>
<p><%= @extraversion_total_score %></p>
<p><%= @controllability_total_score %></p>
<p><%= @attachment_total_score %></p>
<p><%= @playability_total_score %></p>

<p><%= @emotionality_grade %></p>
<p><%= @extraversion_grade %></p>
<p><%= @controllability_grade %></p>
<p><%= @attachment_grade %></p>
<p><%= @playability_grade %></p>