<div class="container">
  <h4>投稿詳細画面
    <% if admin_signed_in? %>
      <td><%= link_to '削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
    <% end %>
  </h4>
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <%= link_to admin_user_path(@post.user.id) do %>
              <%= image_tag @post.user.get_profile_image, size:"70x70" %><br>
              <% end %>
            </th>
            <th scope="col"><%= @post.user.name %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">タイトル</th>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <th scope="row">感想</th>
            <td><%= @post.body %></td>
          </tr>
          <tr>
            <th scope="row">感情分析スコア</th>
            <td><%= @post.score %></td>
          </tr>
          <tr>
            <th scope="row">タグ</th>
            <td><% @tags.each do |tag| %>
                  <i class="fa-solid fa-tag"></i>
                   <%= link_to tag.name,admin_search_tag_path(tag_name: tag.name) %>
                <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">スコア</th>
            <td><%= render "admin/posts/static_rate", post: @post %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <div id="post_comment">
        <%= render 'admin/post_comments/post_comment', post: @post %>
      </div>
    </div>
  </div>
</div>