<div class="container">
  <h2>テーブル選択</h2>
  <div class="row d-flex justify-content-center" style=" height: auto; margin: 30px 0;">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">神経症傾向</th>
          <td><%= link_to '作成', new_admin_emotionality_path, class: "btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <th scope="row">外向性</th>
          <td><%= link_to '作成', new_admin_extraversion_path, class: "btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <th scope="row">誠実性</th>
          <td><%= link_to '作成', new_admin_controllability_path, class: "btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <th scope="row">調和性</th>
          <td><%= link_to '作成', new_admin_attachment_path, class: "btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <th scope="row">開放性</th>
          <td><%= link_to '作成', new_admin_playability_path, class: "btn btn-sm btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>