<div class="container">
  <div class="row">
    <div class="col-8">
      <h2><%= @user.name %>さんのページ</h2>
    </div>
    <div class="col-4">
      <h2>
      <% if @user == current_user %>
        <%= link_to '新規投稿', new_post_path, class: "btn btn-sm btn-primary" %>
        <%= link_to 'ユーザー情報変更', edit_user_path, class: "btn btn-sm btn-success" %>
      <% end %>
      </h2>
    </div>
  </div>
    <div class="row d-flex align-items-center" style="height: auto;">
      <div class="col-3 offset-1">
       <%= image_tag @user.get_profile_image, size: '120x120' %>
      </div>
      <div class="col-8">
       <%= @user.name %> <br>
       <%= @user.introduction %>
      </div>
    </div>
    <div class="row">
      <%= render 'public/posts/index',posts: @posts, tag_lists: @tag_lists %>
    </div>
    <div class="row">
      <h3>性格分析詳細</h3>
      <h4><%= link_to '詳細はこちら', analysis_path(@user.id), class: "btn btn-sm btn-info" %></h4>
    </div>
</div>