<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dfd;">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin"><span>BoCA</span></a>
      <% else %>
        <a class="navbar-brand" href="/"><span>BoCA</span></a>
      <% end %>
      <% if user_signed_in? %>
          <span class="text-signed-in">
            ようこそ、<%= current_user.name %>さん！
          </span>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <% if admin_signed_in? %>
          <!-- 管理者がログインしている場合 -->
            <li class="nav-item">
              <%= link_to admin_posts_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-file-lines"></i>
                <span>投稿一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_users_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-users"></i>
                <span>ユーザー一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_analysis_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-chart-column"></i>
                <span>性格分析一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>ログアウト</span>
              <% end %>
            </li>
            <div class="header-search-box">
              <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
                <div class="d-flex flex-column flex-sm-row-reverse flex-lg-column m-0">
                  <div class="form-group d-flex m-0">
                    <%= f.text_field :search, placeholder: "検索", class: "form-control" %>
                    <%= f.button :type => "submit", class: "ml-2 btn btn-secondary" do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    <% end %>
                  </div>
                  <div class="form-group mt-2 mb-0 ml-auto">
                    <%= f.radio_button :search_model, "user", checked: true %>
                    <%= f.label :search_model_user, "会員", class: "m-0 mr-2" %>
                    <%= f.radio_button :search_model, "post" %>
                    <%= f.label :search_model_post, "投稿", class: "m-0 mr-sm-2 m-lg-0" %>
                    <%= f.radio_button :search_model, "tag" %>
                    <%= f.label :search_model_tag, "タグ", class: "m-0 mr-sm-2 m-lg-0" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% elsif user_signed_in? %>
          <!-- ユーザーがログインしている場合 -->
            <li class="nav-item">
              <%= link_to user_path(current_user), class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-address-card"></i>
                <span>マイページ</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-circle-question"></i>
                <span>分析する</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to posts_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-file-lines"></i>
                <span>投稿一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-users"></i>
                <span>ユーザー一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>ログアウト</span>
              <% end %>
            </li>
             <div class="header-search-box">
              <%= form_with url: search_path, method: :get, local: true do |f| %>
                <div class="form-group d-flex m-0">
                  <%= f.text_field :search, placeholder: "検索", class: "form-control" %>
                  <%= f.button :type => "submit", class: "ml-2 btn btn-secondary" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
                <div class="form-group mt-2 mb-0 ml-auto">
                    <%= f.radio_button :search_model, "user", checked: true %>
                    <%= f.label :search_model_user, "会員", class: "m-0 mr-2" %>
                    <%= f.radio_button :search_model, "post" %>
                    <%= f.label :search_model_post, "投稿", class: "m-0 mr-sm-2 m-lg-0" %>
                    <%= f.radio_button :search_model, "tag" %>
                    <%= f.label :search_model_tag, "タグ", class: "m-0 mr-sm-2 m-lg-0" %>
                </div>
              <% end %>
            </div>
          <% else %>
          <!-- どちらもログインしていない場合 -->
            <li class="nav-item">
              <%= link_to guest_sign_in_path, method: :post, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-user-tie"></i>
                <span>ゲストログイン</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-circle-question"></i>
                <span>診断する</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-user-plus"></i>
                <span>新規登録</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link header-nav-link" do %>
                <i class="fa-solid fa-right-to-bracket"></i>
                <span>ログイン</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>